<div class="col-sm-4" id="editingContainer" hidden>
  <!-- Instructions -->
  <div class="border-bottom">
    <p class="text-left font-weight-bold">EDITAR PROGRAMA</p>
    <p class="text-left">Has click en un programa para editar su información</p>
  </div>
  <!-- Edit program form -->
  <form action="" id="editingForm" class="py-3 px-2 form-cont">
    <fieldset id="editingFieldset" disabled>
      <div class="border-bottom">
        <!-- name -->
        <div class="form-group">
          <label for="editName">Nombre</label>
          <input type="text" class="form-control px-2" id="editName" placeholder="Nombre del Programa" value="">
          <div id="editNameFeedback"></div>
        </div>
        <!-- ids -->
        <div class="form-row">
          <div class="form-group col">
            <label for="editLength">Duración</label>
            <input type="number" class="form-control px-2" min=1 id="editLength" placeholder="X" value="">
            <small id="editLengthHelp" class="form-text text-muted">Duración en minutos.</small>
            <div id="editLengthFeedback"></div>
          </div>
          <div class="form-group col">
            <label for="editTopics">Temas</label>
            <input type="text" class="form-control px-2" id="editTopics" placeholder="Tema 1, Tema 2" value="">
            <small id="editTopicsHelp" class="form-text text-muted">Separados por comas</small>
            <div id="editTopicsFeedback"></div>
          </div>
        </div>
        <!-- presenters -->
        <div class="form-group">
          <label for="editPresenters">Presentadores</label>
          <input type="text" class="form-control px-2" id="editPresenters" placeholder="Presentador 1, Presentador 2" value="">
          <small id="editPresentersHelp" class="form-text text-muted">Separados por comas</small>
          <div id="editPresentersFeedback"></div>
        </div>
        <!-- producer -->
        <div class="form-group">
          <label for="editAuthor">Producido por</label>
          <input type="text" class="form-control px-2" id="editAuthor" placeholder="Productor" value="">
          <div id="editAuthorFeedback"></div>
        </div>
        <!-- descriptions -->
        <div class="form-group">
          <label for="editDescriptionShort">Sinópsis</label>
          <input type="text" class="form-control px-2" id="editDescriptionShort" placeholder="Sinópsis del programa" value="">
          <small id="editDescriptionShortHelp" class="form-text text-muted">0/250 caracteres</small>
          <div id="editDescriptionShortFeedback"></div>
        </div>
        <div class="form-group">
          <label for="editDescriptionLong">Descripción</label>
          <input type="text" class="form-control px-2" id="editDescriptionLong" placeholder="Descripción del programa" value="">
          <div id="editDescriptionLongFeedback"></div>
        </div>
      </div>
      <!-- schedule -->
      <div class="pt-2">
        <div class="form-group">
          <p class="form-text font-weight-bold">HORARIOS</p>
          <p class="form-text">Separados por ", " en formato de 24 horas</p>
        </div>
        <div class="form-group">
          <label for="editmonday">Lunes</label>
          <input type="text" class="form-control px-2" id="editmonday" placeholder="Hora lunes" value="">
          <div id="editmondayFeedback"></div>
        </div>
        <div class="form-group">
          <label for="edittuesday">Martes</label>
          <input type="text" class="form-control px-2" id="edittuesday" placeholder="Hora martes" value="">
          <div id="edittuesdayFeedback"></div>
        </div>
        <div class="form-group">
          <label for="editwednesday">Miércoles</label>
          <input type="text" class="form-control px-2" id="editwednesday" placeholder="Hora miércoles" value="">
          <div id="editWednesdayFeedback"></div>
        </div>
        <div class="form-group">
          <label for="editthursday">Jueves</label>
          <input type="text" class="form-control px-2" id="editthursday" placeholder="Hora jueves" value="">
          <div id="editthursdayFeedback"></div>
        </div>
        <div class="form-group">
          <label for="editfriday">Viernes</label>
          <input type="text" class="form-control px-2" id="editfriday" placeholder="Hora viernes" value="">
          <div id="editfridayFeedback"></div>
        </div>
        <div class="form-group">
          <label for="editsaturday">Sábado</label>
          <input type="text" class="form-control px-2" id="editsaturday" placeholder="Hora sábado" value="">
          <div id="editsaturdayFeedback"></div>
        </div>
        <div class="form-group">
          <label for="editsunday">Domingo</label>
          <input type="text" class="form-control px-2" id="editsunday" placeholder="Hora domingo" value="">
          <div id="editsundayFeedback"></div>
        </div>
      </div>
      <!-- Submit button -->
      <div class="d-flex justify-content-between">
        <button type="reset" class="btn btn-secondary">Reset</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </fieldset>
  </form>
</div>

<script>
  // Fills the editing form with the selected program's information
  function editProgram(id) {
    // Proceed if editing is enable
    if (editing) {
      // Resets the variables that store any changes so we don't send previous changes by mistake
      changes = {id: null, info: {}, schedule: {}}
      $("#editingForm").trigger("reset")

      // Makes the days in the schedule a ", " separated string. Otherwise you only get "," as separation
      let schedule = {}
      for (let day of Object.keys(programs[id].schedule)) {
        let stringified = ""
        let length = programs[id].schedule[day].length

        if (length === 0)
          stringified = undefined
        else if (length === 1)
          stringified = programs[id].schedule[day][0]
        else
          stringified = programs[id].schedule[day].reduce((string, time, i) => {
            if (i === 0) return time
            else return string += `, ${time}`
          }, "")
        
        schedule[day] = stringified
      };

      // Enable form editing
      document.getElementById("editingFieldset").removeAttribute("disabled")
      // Fill the different fields with the current program's values
      document.getElementById("editName").setAttribute("value", programs[id].name)
      document.getElementById("editLength").setAttribute("value", programs[id].length)
      document.getElementById("editTopics").setAttribute("value", programs[id].topics)
      document.getElementById("editPresenters").setAttribute("value", programs[id].presenters)
      document.getElementById("editAuthor").setAttribute("value", programs[id].author)
      document.getElementById("editDescriptionShort").setAttribute("value", programs[id].descriptionShort)
      document.getElementById("editDescriptionShortHelp").innerText = `${$('#editDescriptionShort').val().length}/250 caracteres`
      document.getElementById("editDescriptionLong").setAttribute("value", programs[id].descriptionLong)

      // Make sure to leave the days that are blank, blank
      let days = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"]
      for (let day of days) {
        if (programs[id].schedule[day] == undefined)
          document.getElementById(`edit${day}`).setAttribute("value", "")
        else
          document.getElementById(`edit${day}`).setAttribute("value", schedule[day])
      };

      // Store the id in case we make a change
      changes.id = id;
    };
  };

  // Handle any changes
  $('#editName').on("input", function() {
    changes.info.name = $('#editName').val()
    validate("edit", "Name", $('#editName').val(), programs, null, changes.id)
  });
  $('#editLength').on("change", function() {
    changes.info.length = $('#editLength').val()
    validate("edit", "Length", $('#editLength').val())
  });
  $('#editTopics').on("input", function() {
    changes.info.topics = $('#editTopics').val()
    validate("edit", "Topics", $('#editTopics').val())
  });
  $('#editPresenters').on("input", function() {
    changes.info.presenters = $('#editPresenters').val()
    validate("edit", "Presenters", $('#editPresenters').val())
  });
  $('#editAuthor').on("input", function() {
    changes.info.author = $('#editAuthor').val()
    validate("edit", "Author", $('#editAuthor').val())
  });
  $('#editDescriptionShort').on("input", function() {
    changes.info.descriptionShort = $('#editDescriptionShort').val()
    $("#editDescriptionShortHelp").text(`${$('#editDescriptionShort').val().length}/250 caracteres`)
    validate("edit", "DescriptionShort", $('#editDescriptionShort').val())
  });
  $('#editDescriptionLong').on("input", function() {
    changes.info.descriptionLong = $('#editDescriptionLong').val()
    validate("edit", "DescriptionLong", $('#editDescriptionLong').val())
  });
  $('#editmonday').on("input", function() {
    changes.schedule.monday = $('#editmonday').val()
    validate("edit", "monday", $('#editmonday').val(), null, schedule, changes.id)
  });
  $('#edittuesday').on("input", function() {
    changes.schedule.tuesday = $('#edittuesday').val()
    validate("edit", "tuesday", $('#edittuesday').val(), null, schedule, changes.id)
  });
  $('#editwednesday').on("input", function() {
    changes.schedule.wednesday = $('#editwednesday').val()
    validate("edit", "wednesday", $('#editwednesday').val(), null, schedule, changes.id)
  });
  $('#editthursday').on("input", function() {
    changes.schedule.thursday = $('#editthursday').val()
    validate("edit", "thursday", $('#editthursday').val(), null, schedule, changes.id)
  });
  $('#editfriday').on("input", function() {
    changes.schedule.friday = $('#editfriday').val()
    validate("edit", "friday", $('#editfriday').val(), null, schedule, changes.id)
  });
  $('#editsaturday').on("input", function() {
    changes.schedule.saturday = $('#editsaturday').val()
    validate("edit", "saturday", $('#editsaturday').val(), null, schedule, changes.id)
  });
  $('#editsunday').on("input", function() {
    changes.schedule.sunday = $('#editsunday').val()
    validate("edit", "sunday", $('#editsunday').val(), null, schedule)
  });

  // Handles submitting of changed information
  $("#editingForm").submit(function(event) {
    event.preventDefault()
    // Converts the changes into a serialized string so we can send them and properly
    let serialized = JSON.stringify(changes)
    // Sends the changes to the server
    $.post("/editProgram", {data: serialized}, function(data) {
      if (data !== "Éxito") {
        $("#messages").html(
          '<div class="alert alert-danger" >' +
            '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
            '<span>' + data + '</span>' +
          '</div>'
        );
      } else {
        $("#messages").html(
          '<div class="alert alert-success" >' +
            '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
            '<span>' + data + '</span>' +
          '</div>'
        );
        // On success, reload the page after 2 seconds
        setTimeout(function() { location.reload() }, 1500)
      };
    });
  });

  // Handles form reset
  $("#editingForm").on("reset", function(event) {
    changes = {id: null, info: {}, schedule: {}};
    $("#editingFieldset").prop("disabled", true)
    $("#editingForm").find("*").attr("value", "")
    $("#editingForm").find("*").removeClass("is-valid")
    $("#editingForm").find("*").removeClass("is-invalid")
  })
</script>