<div class="col-sm-4" id="editingContainer" hidden>
  <!-- Instructions -->
  <div class="border-bottom">
    <div class="row px-3 pb-2">
      <span class="mr-auto font-weight-bold">EDITAR PROGRAMA</span>
      <button type="button" class="close" onclick="toggleForm('editing')">&times;</button>
    </div>
    <p class="text-left">Has click en un programa para editar su información</p>
  </div>
  <!-- Edit program form -->
  <form action="" id="editingForm" class="py-3 px-2 form-cont">
    <fieldset id="editingFieldset" disabled>
      <div class="border-bottom">
        <!-- name -->
        <div class="form-group">
          <label for="editName">Nombre</label>
          <input type="text" class="form-control px-2" id="editName" placeholder="Nombre del Programa" value="">
          <div id="editNameFeedback"></div>
        </div>
        <!-- length & topics -->
        <div class="form-row">
          <div class="form-group col">
            <label for="editLength">Duración</label>
            <input type="number" class="form-control px-2" min=1 id="editLength" placeholder="X" value="">
            <small id="editLengthHelp" class="form-text text-muted">Duración en minutos.</small>
            <div id="editLengthFeedback"></div>
          </div>
          <div class="form-group col">
            <label for="editTopics">Temas</label>
            <input type="text" class="form-control px-2" id="editTopics" placeholder="Tema 1, Tema 2..." value="">
            <small id="editTopicsHelp" class="form-text text-muted">Separados por comas</small>
            <div id="editTopicsFeedback"></div>
          </div>
        </div>
        <!-- presenters -->
        <div class="form-group">
          <label for="editPresenters">Presentadores</label>
          <input type="text" class="form-control px-2" id="editPresenters" placeholder="Presentador 1, Presentador 2..." value="">
          <small id="editPresentersHelp" class="form-text text-muted">Separados por comas</small>
          <div id="editPresentersFeedback"></div>
        </div>
        <!-- producer -->
        <div class="form-group">
          <label for="editAuthor">Producido por</label>
          <input type="text" class="form-control px-2" id="editAuthor" placeholder="Productor" value="">
          <div id="editAuthorFeedback"></div>
        </div>
        <!-- descriptions -->
        <div class="form-group">
          <label for="editDescriptionShort">Resumen</label>
          <textarea rows="3" class="form-control px-2" id="editDescriptionShort" placeholder="Resumen del programa" value=""></textarea>
          <small id="editDescriptionShortHelp" class="form-text text-muted">0/250 caracteres</small>
          <div id="editDescriptionShortFeedback"></div>
        </div>
        <div class="form-group">
          <label for="editDescriptionLong">Descripción</label>
          <textarea rows="3" class="form-control px-2" id="editDescriptionLong" placeholder="Descripción del programa" value=""></textarea>
          <div id="editDescriptionLongFeedback"></div>
        </div>
      </div>
      <!-- schedule -->
      <div class="pt-2">
        <div class="form-group">
          <p class="form-text font-weight-bold">HORARIOS</p>
          <p class="form-text">Separados por ", " en formato de 24 horas</p>
        </div>
        <div class="form-group">
          <label for="editmonday">Lunes</label>
          <input type="text" class="form-control px-2" id="editmonday" placeholder="Hora lunes" value="">
          <div id="editmondayFeedback"></div>
        </div>
        <div class="form-group">
          <label for="edittuesday">Martes</label>
          <input type="text" class="form-control px-2" id="edittuesday" placeholder="Hora martes" value="">
          <div id="edittuesdayFeedback"></div>
        </div>
        <div class="form-group">
          <label for="editwednesday">Miércoles</label>
          <input type="text" class="form-control px-2" id="editwednesday" placeholder="Hora miércoles" value="">
          <div id="editWednesdayFeedback"></div>
        </div>
        <div class="form-group">
          <label for="editthursday">Jueves</label>
          <input type="text" class="form-control px-2" id="editthursday" placeholder="Hora jueves" value="">
          <div id="editthursdayFeedback"></div>
        </div>
        <div class="form-group">
          <label for="editfriday">Viernes</label>
          <input type="text" class="form-control px-2" id="editfriday" placeholder="Hora viernes" value="">
          <div id="editfridayFeedback"></div>
        </div>
        <div class="form-group">
          <label for="editsaturday">Sábado</label>
          <input type="text" class="form-control px-2" id="editsaturday" placeholder="Hora sábado" value="">
          <div id="editsaturdayFeedback"></div>
        </div>
        <div class="form-group">
          <label for="editsunday">Domingo</label>
          <input type="text" class="form-control px-2" id="editsunday" placeholder="Hora domingo" value="">
          <div id="editsundayFeedback"></div>
        </div>
      </div>
      <!-- Submit button -->
      <div class="d-flex justify-content-between">
        <button type="reset" class="btn btn-secondary">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </fieldset>
  </form>
</div>

<script>
  // Fills the editing form with the selected program's information
  function editProgram(id) {
    // Proceed if editing is enabled
    if (forms["editing"]) {
      // Resets the variables that store any changes so we don't send previous changes by mistake
      changes = {id: null, info: {}, schedule: {}};
      $("#editingForm").trigger("reset");

      // Makes the days in the schedule a ", " separated string. Otherwise you only get "," as separation
      let schedule = {};
      for (let day of Object.keys(programs[id].schedule)) {
        let stringified = "";
        let length = programs[id].schedule[day].length;

        if (length === 0)
          stringified = undefined;
        else if (length === 1)
          stringified = programs[id].schedule[day][0];
        else
          stringified = programs[id].schedule[day].reduce((string, time, i) => {
            if (i === 0) return time
            else return string += `, ${time}`
          }, "");
        
        schedule[day] = stringified;
      }

      // Enable form editing
      $("#editingFieldset").removeAttr("disabled");
      // Fill the different fields with the current program's values
      $("#editName").val(programs[id].name);
      $("#editLength").val(programs[id].length);
      $("#editTopics").val(programs[id].topics);
      $("#editPresenters").val(programs[id].presenters);
      $("#editAuthor").val(programs[id].author);
      $("#editDescriptionShort").text(programs[id].descriptionShort);
      $("#editDescriptionShortHelp").text(`${$('#editDescriptionShort').val().length}/250 caracteres`);
      $("#editDescriptionLong").text(programs[id].descriptionLong);

      // Make sure to leave the days that are blank, blank
      let days = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"]
      for (let day of days) {
        if (programs[id].schedule[day] == undefined)
          $(`#edit${day}`).val("");
        else
          $(`#edit${day}`).val(schedule[day]);
      }

      // Store the id in case we make a change
      changes.id = id;
    }
  }

  // Handle any changes
  $('#editName').on("input", function() {
    changes.info.name = $(this).val();
    validate("edit", "Name", $(this).val(), programs, null, changes.id);
  });
  $('#editLength').on("change", function() {
    changes.info.length = $(this).val();
    validate("edit", "Length", $(this).val());
  });
  $('#editTopics').on("input", function() {
    changes.info.topics = $(this).val();
    validate("edit", "Topics", $(this).val());
  });
  $('#editPresenters').on("input", function() {
    changes.info.presenters = $(this).val();
    validate("edit", "Presenters", $(this).val());
  });
  $('#editAuthor').on("input", function() {
    changes.info.author = $(this).val();
    validate("edit", "Author", $(this).val());
  });
  $('#editDescriptionShort').on("input", function() {
    changes.info.descriptionShort = $(this).val();
    $("#editDescriptionShortHelp").text(`${$(this).val().length}/250 caracteres`);
    validate("edit", "DescriptionShort", $(this).val());
  });
  $('#editDescriptionLong').on("input", function() {
    changes.info.descriptionLong = $(this).val();
    validate("edit", "DescriptionLong", $(this).val());
  });
  $('#editmonday').on("input", function() {
    changes.schedule.monday = $(this).val();
    validate("edit", "monday", $(this).val(), null, schedule, changes.id);
  });
  $('#edittuesday').on("input", function() {
    changes.schedule.tuesday = $(this).val();
    validate("edit", "tuesday", $(this).val(), null, schedule, changes.id);
  });
  $('#editwednesday').on("input", function() {
    changes.schedule.wednesday = $(this).val();
    validate("edit", "wednesday", $(this).val(), null, schedule, changes.id);
  });
  $('#editthursday').on("input", function() {
    changes.schedule.thursday = $(this).val();
    validate("edit", "thursday", $(this).val(), null, schedule, changes.id);
  });
  $('#editfriday').on("input", function() {
    changes.schedule.friday = $(this).val();
    validate("edit", "friday", $(this).val(), null, schedule, changes.id);
  });
  $('#editsaturday').on("input", function() {
    changes.schedule.saturday = $(this).val();
    validate("edit", "saturday", $(this).val(), null, schedule, changes.id);
  });
  $('#editsunday').on("input", function() {
    changes.schedule.sunday = $(this).val();
    validate("edit", "sunday", $(this).val(), null, schedule, changes.id);
  });

  // Handles submitting of changed information
  $("#editingForm").submit(function(event) {
    event.preventDefault();
    
    // Check that no input is invalid
    if ($('*').hasClass('is-invalid')) {
      alert("Uno o más campos son inválidos. Revisa la información antes de enviarla.");
    } else {
      // Converts the changes into a serialized string so we can send them and properly
      let serialized = JSON.stringify(changes);

      // Sends the changes to the server
      $.post("/modifyProgram", {data: serialized, action: "edit"}, function(data) {
        if (data !== "Éxito") {
          $("#messages").html(
            '<div class="alert alert-danger" >' +
              '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
              '<span>' + data + '</span>' +
            '</div>'
          );
        } else {
          $("#messages").html(
            '<div class="alert alert-success" >' +
              '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
              '<span>' + data + '</span>' +
            '</div>'
          );
          // On success, reload the page after 1.5 seconds
          setTimeout(function() { location.reload() }, 1500);
        }
      });  
    }
  });

  // Handles form reset
  $("#editingForm").on("reset", function(event) {
    changes = {id: null, info: {}, schedule: {}};
    $("#editingFieldset").prop("disabled", true);
    $(this).find("*").attr("value", "");
    $(this).find("*").removeClass("is-valid");
    $(this).find("*").removeClass("is-invalid");
  })
</script>