<div class="col-sm-12 table-responsive table-cont" id="tableContainer">
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Abbr</th>
        <th scope="col">Nombre</th>
        <th scope="col">Duración</th>
        <th scope="col">Temas</th>
        <th scope="col">Presentador/es</th>
        <th scope="col">Producido por</th>
        <th scope="col">Sinopsis</th>
        <th scope="col">Descripción</th>
        <th scope="col">Lunes</th>
        <th scope="col">Martes</th>
        <th scope="col">Miércoles</th>
        <th scope="col">Jueves</th>
        <th scope="col">Viernes</th>
        <th scope="col">Sábado</th>
        <th scope="col">Domingo</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>