<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Abbr</th>
      <th scope="col">Nombre</th>
      <th scope="col">Duración</th>
      <th scope="col">Temas</th>
      <th scope="col">Presentador/es</th>
      <th scope="col">Producido por</th>
      <th scope="col">Lunes</th>
      <th scope="col">Martes</th>
      <th scope="col">Miércoles</th>
      <th scope="col">Jueves</th>
      <th scope="col">Viernes</th>
      <th scope="col">Sábado</th>
      <th scope="col">Domingo</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script>
  $.post("/", {data: "schedule"}, function(data) {
    console.log(data.schedule);
    console.log(data.times);
    
    // for (const program of Object.keys(data)) {
    //   // We create the row with the non-iterable information of the program
    //   document.querySelector("tbody").innerHTML +=
    //     "<tr>" + 
    //       "<th scope='row'>" + data[program].programID + "</th>" +
    //       "<td>" + data[program].streamID + "</td>" +
    //       "<td>" + data[program].name + "</td>" +
    //       "<td>" + data[program].streamID + "</td>" +
    //       "<td>" + data[program].topics + "</td>" +
    //       "<td id=presenters" + program + "></td>" +
    //       "<td>" + data[program].author + "</td>" +
    //       "<td id=monday" + program + "></td>" +
    //       "<td id=tuesday" + program + "></td>" +
    //       "<td id=wednesday" + program + "></td>" +
    //       "<td id=thursday" + program + "></td>" +
    //       "<td id=friday" + program + "></td>" +
    //       "<td id=saturday" + program + "></td>" +
    //       "<td id=sunday" + program + "></td>"
    //     + "</tr>"

    //   // We are gonna add the elements that are iterable or dependant on certain conditions
    //   // We add the presenters iterating over the list of them
    //   let presenters = "";
    //   for (const presenter of data[program].presenters) presenters += "<li>" + presenter + "</li>"
    //   document.getElementById(`presenters${program}`).innerHTML =
    //       "<ul style='padding: 0'>" + presenters + "</ul>"
      
    //   // We add days on their corresponding columns
    //   for (const day of Object.keys(data[program].schedule)) {
    //     let times = "";
    //     for (const time of data[program].schedule[day]) times += "<li>" + time + "</li>"
    //     document.getElementById(`${day}${program}`).innerHTML =
    //       "<ul style='list-style-type: none; padding: 0'>" + times + "</ul>"
    //   }
    // }

  });
</script>