{% extends "layout.html" %}

{% block main %}
  <!-- Toolbar -->
  <header>
    <div class="text-center" role="alert">
      <button class='btn btn-outline-dark btn-sm' onclick=toggleEditing()>Editar</button>
      <button class='btn btn-outline-dark btn-sm' onclick=toggleAdding()>Nuevo</button>
      <button class='btn btn-outline-dark btn-sm' onclick=showChanges()>Changes</button>
    </div>
  </header>

  <div>
    <div class="row mx-2 justify-content-center">
      <!-- Programs table -->
      {% include 'snippets/programsDisplay.html' %}
      <!-- Edit program container -->
      {% include 'snippets/editProgram.html' %}
    </div>
  </div>


  <script>
    let programs;
    let schedule;
    let editing = false;
    let add = false;

    // We're gonna store any changed values here so we know what to send
    // We declare it here so we can use it before the main function that cares for it
    let changes = {id: null, info: {}, schedule: {}}
  
    // TABLE CREATION
    // Get the programs and fill the table
    function getPrograms() {
      $.post("/programs", null, function(data) {
        programs = data.programs;
        schedule = data.schedule.schedule
        
        for (const program of Object.keys(programs)) {
          // Check if the producer a link or not
          let producer = "";
          if (programs[program].author.includes("www."))
            producer = `<a href="http://${programs[program].author}" target="_blank">${programs[program].author}</a>`
          else producer = programs[program].author;
  
          // We create the row with the non-iterable information of the program
          document.querySelector("tbody").innerHTML +=
            "<tr onclick='editProgram(" + programs[program].programID + ")'>" + 
              "<th scope='row'>" + programs[program].programID + "</th>" +
              "<td>" + programs[program].streamID + "</td>" +
              "<td>" + programs[program].name + "</td>" +
              "<td>" + programs[program].length + "</td>" +
              "<td>" + programs[program].topics + "</td>" +
              "<td id=presenters" + program + "></td>" +
              "<td>" + producer + "</td>" +
              "<td id=synopsis" + program + ">" +
                `<button class='btn btn-outline-dark btn-sm' onclick=toggleDescriptions('synopsis${program}')>Ver</button>` +
              "</td>" +
              "<td id=description" + program + ">" +
                `<button class='btn btn-outline-dark btn-sm' onclick=toggleDescriptions('description${program}')>Ver</button>` +
              "</td>" +
              "<td id=monday" + program + "></td>" +
              "<td id=tuesday" + program + "></td>" +
              "<td id=wednesday" + program + "></td>" +
              "<td id=thursday" + program + "></td>" +
              "<td id=friday" + program + "></td>" +
              "<td id=saturday" + program + "></td>" +
              "<td id=sunday" + program + "></td>"
            + "</tr>"
  
          // We are gonna add the elements that are iterable or dependant on certain conditions
          // We add the presenters iterating over the list of them
          let presenters = "";
          for (const presenter of programs[program].presenters) {
            if (presenter === "Desconocido") presenters = ""
            else presenters += "<li>" + presenter + "</li>"
          };
          
          document.getElementById(`presenters${program}`).innerHTML =
            "<ul style='padding: 0'>" + presenters + "</ul>"
          
          // We add days on their corresponding columns
          for (const day of Object.keys(programs[program].schedule)) {
            let times = "";
            for (const time of programs[program].schedule[day]) times += "<li>" + time + "</li>"
            document.getElementById(`${day}${program}`).innerHTML =
              "<ul style='list-style-type: none; padding: 0'>" + times + "</ul>"
          }
        }
      });
    };
    getPrograms()
  
    // We use this function to show or hide the description of specific programs
    function toggleDescriptions(id) {
      // Extract the programID and the type (synopsis or description)
      let programID;
      let type;
      if (id.includes("synopsis")) {
        programID = id.replace("synopsis", "");
        type = "synopsis";
      } else if (id.includes("description")) {
        programID = id.replace("description", "");
        type = "description";
      };
  
      // We get the text of the button to see whether to show or hide the information
      let button = document.querySelector(`#${id} > button`).innerHTML
  
      // Depending on the button we show or hide
      if (button === "Ver") {
        document.getElementById(id).innerHTML =
          type === "synopsis"
            ? "<p>" + programs[programID].descriptionShort + "</p>" +
              `<button class='btn btn-outline-dark btn-sm' onclick=toggleDescriptions('${type}${programID}')>Ocultar</button>`
            : "<p>" + programs[programID].descriptionLong + "</p>" +
              `<button class='btn btn-outline-dark btn-sm' onclick=toggleDescriptions('${type}${programID}')>Ocultar</button>`
      } else if (button === "Ocultar") {
        document.getElementById(id).innerHTML =
        `<button class='btn btn-outline-dark btn-sm' onclick=toggleDescriptions('${type}${programID}')>Ver</button>`
      };
    };

    // PROGRAM EDITING
    // Hide or display the editing form
    function toggleEditing() {
      if (!editing) {
        // Make space for the form
        document.getElementById("tableContainer").classList.replace("col-sm-12", "col-sm-8")
        // Show the editing form
        document.getElementById("editingContainer").removeAttribute("hidden")
        editing = true
      } else {
        // Make the table occupy the whole container
        document.getElementById("tableContainer").classList.replace("col-sm-8", "col-sm-12")
        // Hide the editing form
        document.getElementById("editingContainer").setAttribute("hidden", "true")
        editing = false
      };
    };

    function toggleAdding() {
      if (!add) {
        // Make space for the form
        document.getElementById("tableContainer").classList.replace("col-sm-12", "col-sm-8")
        // Show the editing form
        document.getElementById("editingContainer").removeAttribute("hidden")
        add = true
      } else {
        // Make the table occupy the whole container
        document.getElementById("tableContainer").classList.replace("col-sm-8", "col-sm-12")
        // Hide the editing form
        document.getElementById("editingContainer").setAttribute("hidden", "true")
        add = false
      };
    };

    // Dev function to display what changes are stored
    function showChanges() { console.log(changes) }
    
  </script>
{% endblock %}