{% extends "layout.html" %}

{% block main %}
  <!-- Toolbar -->
  <header>
    <div class="text-center" role="alert">
      <button class='btn btn-outline-dark btn-sm' onclick=toggleEditing()>Editar</button>
    </div>
  </header>

  <div>
    <div class="row mx-2 justify-content-center">
      <!-- Programs table -->
      <div class="col-sm-12 table-responsive table-cont" id="tableContainer">
        <table class="table table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Abbr</th>
              <th scope="col">Nombre</th>
              <th scope="col">Duración</th>
              <th scope="col">Temas</th>
              <th scope="col">Presentador/es</th>
              <th scope="col">Producido por</th>
              <th scope="col">Sinopsis</th>
              <th scope="col">Descripción</th>
              <th scope="col">Lunes</th>
              <th scope="col">Martes</th>
              <th scope="col">Miércoles</th>
              <th scope="col">Jueves</th>
              <th scope="col">Viernes</th>
              <th scope="col">Sábado</th>
              <th scope="col">Domingo</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <!-- Edit program container -->
      <div class="col-sm-4" id="editingForm" hidden>
        <!-- Instructions -->
        <div class="border-bottom">
          <p class="text-left font-weight-bold">EDITAR PROGRAMA</p>
          <p class="text-left">Has click en un programa para editar su información</p>
        </div>
        <!-- Edit program form -->
        <form class="py-3 px-2 form-cont">
          <fieldset id="editingFieldset" disabled>
            <div class="border-bottom">
              <!-- name -->
              <div class="form-group">
                <label for="formName">Nombre</label>
                <input type="text" class="form-control px-2" id="formName" placeholder="Nombre del Programa" value="">
              </div>
              <!-- ids -->
              <div class="form-row">
                <div class="form-group col">
                  <label for="formLength">Duración</label>
                  <input type="text" class="form-control px-2" id="formLength" placeholder="X" value="">
                  <small id="lengthHelp" class="form-text text-muted">Duración en minutos</small>
                </div>
                <div class="form-group col">
                  <label for="formTopics">Temas</label>
                  <input type="text" class="form-control px-2" id="formTopics" placeholder="Tema 1, Tema 2" value="">
                  <small id="topicsHelp" class="form-text text-muted">Separados por comas</small>
                </div>
              </div>
              <!-- presenters -->
              <div class="form-group">
                <label for="formPresenters">Presentadores</label>
                <input type="text" class="form-control px-2" id="formPresenters" placeholder="Presentador 1, Presentador 2" value="">
                <small id="presentersHelp" class="form-text text-muted">Separados por comas</small>
              </div>
              <!-- producer -->
              <div class="form-group">
                <label for="formAuthor">Producido por</label>
                <input type="text" class="form-control px-2" id="formAuthor" placeholder="Radio Reforma" value="">
              </div>
              <!-- descriptions -->
              <div class="form-group">
                <label for="formDescriptionShort">Sinópsis</label>
                <input type="text" class="form-control px-2" id="formDescriptionShort" placeholder="Sinópsis del programa" value="">
                <small id="presentersHelp" class="form-text text-muted">250 caracteres máximo</small>
              </div>
              <div class="form-group">
                <label for="formDescriptionLong">Descripción</label>
                <input type="text" class="form-control px-2" id="formDescriptionLong" placeholder="Descripción del programa" value="">
              </div>
            </div>
            <!-- schedule -->
            <div class="pt-2">
              <div class="form-group">
                <p class="form-text font-weight-bold">HORARIOS</p>
                <p class="form-text">Separados por comas, en formato de 24 horas</p>
              </div>
              <div class="form-group">
                <label for="formmonday">Lunes</label>
                <input type="text" class="form-control px-2" id="formmonday" placeholder="1:00, 15:00" value="">
              </div>
              <div class="form-group">
                <label for="formtuesday">Martes</label>
                <input type="text" class="form-control px-2" id="formtuesday" placeholder="1:00, 15:00" value="">
              </div>
              <div class="form-group">
                <label for="formwednesday">Miércoles</label>
                <input type="text" class="form-control px-2" id="formwednesday" placeholder="1:00, 15:00" value="">
              </div>
              <div class="form-group">
                <label for="formthursday">Jueves</label>
                <input type="text" class="form-control px-2" id="formthursday" placeholder="1:00, 15:00" value="">
              </div>
              <div class="form-group">
                <label for="formfriday">Viernes</label>
                <input type="text" class="form-control px-2" id="formfriday" placeholder="1:00, 15:00" value="">
              </div>
              <div class="form-group">
                <label for="formsaturday">Sábado</label>
                <input type="text" class="form-control px-2" id="formsaturday" placeholder="1:00, 15:00" value="">
              </div>
              <div class="form-group">
                <label for="formsunday">Domingo</label>
                <input type="text" class="form-control px-2" id="formsunday" placeholder="1:00, 15:00" value="">
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>


  <script>
    let programs;
    let editing = false;
  
    // TABLE CREATION
    // Get the programs and fill the table
    function getPrograms() {
      $.post("/programs", null, function(data) {   
        programs = data;
        
        for (const program of Object.keys(programs)) {
          // Check if the producer a link or not
          let producer = "";
          if (programs[program].author.includes("www."))
            producer = `<a href="http://${programs[program].author}" target="_blank">${programs[program].author}</a>`
          else producer = programs[program].author;
  
          // We create the row with the non-iterable information of the program
          document.querySelector("tbody").innerHTML +=
            "<tr onclick='editProgram(" + programs[program].programID + ")'>" + 
              "<th scope='row'>" + programs[program].programID + "</th>" +
              "<td>" + programs[program].streamID + "</td>" +
              "<td>" + programs[program].name + "</td>" +
              "<td>" + programs[program].length + "</td>" +
              "<td>" + programs[program].topics + "</td>" +
              "<td id=presenters" + program + "></td>" +
              "<td>" + producer + "</td>" +
              "<td id=synopsis" + program + ">" +
                `<button class='btn btn-outline-dark btn-sm' onclick=toggleDescriptions('synopsis${program}')>Ver</button>` +
              "</td>" +
              "<td id=description" + program + ">" +
                `<button class='btn btn-outline-dark btn-sm' onclick=toggleDescriptions('description${program}')>Ver</button>` +
              "</td>" +
              "<td id=monday" + program + "></td>" +
              "<td id=tuesday" + program + "></td>" +
              "<td id=wednesday" + program + "></td>" +
              "<td id=thursday" + program + "></td>" +
              "<td id=friday" + program + "></td>" +
              "<td id=saturday" + program + "></td>" +
              "<td id=sunday" + program + "></td>"
            + "</tr>"
  
          // We are gonna add the elements that are iterable or dependant on certain conditions
          // We add the presenters iterating over the list of them
          let presenters = "";
          for (const presenter of programs[program].presenters) {
            if (presenter === "Desconocido") presenters = ""
            else presenters += "<li>" + presenter + "</li>"
          };
          
          document.getElementById(`presenters${program}`).innerHTML =
            "<ul style='padding: 0'>" + presenters + "</ul>"
          
          // We add days on their corresponding columns
          for (const day of Object.keys(programs[program].schedule)) {
            let times = "";
            for (const time of programs[program].schedule[day]) times += "<li>" + time + "</li>"
            document.getElementById(`${day}${program}`).innerHTML =
              "<ul style='list-style-type: none; padding: 0'>" + times + "</ul>"
          }
        }
      });
    };
    getPrograms();
  
    // We use this function to show or hide the description of specific programs
    function toggleDescriptions(id) {
      // Extract the programID and the type (synopsis or description)
      let programID;
      let type;
      if (id.includes("synopsis")) {
        programID = id.replace("synopsis", "");
        type = "synopsis";
      } else if (id.includes("description")) {
        programID = id.replace("description", "");
        type = "description";
      };
  
      // We get the text of the button to see whether to show or hide the information
      let button = document.querySelector(`#${id} > button`).innerHTML
  
      // Depending on the button we show or hide
      if (button === "Ver") {
        document.getElementById(id).innerHTML =
          type === "synopsis"
            ? "<p>" + programs[programID].descriptionShort + "</p>" +
              `<button class='btn btn-outline-dark btn-sm' onclick=toggleDescriptions('${type}${programID}')>Ocultar</button>`
            : "<p>" + programs[programID].descriptionLong + "</p>" +
              `<button class='btn btn-outline-dark btn-sm' onclick=toggleDescriptions('${type}${programID}')>Ocultar</button>`
      } else if (button === "Ocultar") {
        document.getElementById(id).innerHTML =
        `<button class='btn btn-outline-dark btn-sm' onclick=toggleDescriptions('${type}${programID}')>Ver</button>`
      };
    };


    // PROGRAM EDITING
    // Hide or display the editing form
    function toggleEditing() {
      console.log(programs);
      
      if (!editing) {
        // Make space for the form
        document.getElementById("tableContainer").classList.replace("col-sm-12", "col-sm-8")
        // Show the editing form
        document.getElementById("editingForm").removeAttribute("hidden")
        editing = true
      } else {
        // Make the table occupy the whole container
        document.getElementById("tableContainer").classList.replace("col-sm-8", "col-sm-12")
        // Hide the editing form
        document.getElementById("editingForm").setAttribute("hidden", "true")
        editing = false
      };
    };

    // Fills the editing form with the selected program's information
    function editProgram(id) {
      // Proceed if editing is enable
      if (editing) {
        // Makes the days in the schedule a ", " separated string. Otherwise you only get "," as separation
        let schedule = {}
        for (let day of Object.keys(programs[id].schedule)) {
          let stringified = ""
          let length = programs[id].schedule[day].length

          if (length === 0)
            stringified = undefined
          else if (length === 1)
            stringified = programs[id].schedule[day][0]
          else
            stringified = programs[id].schedule[day].reduce((string, time, i) => {
              if (i === 0) return time
              else return string += `, ${time}`
            }, "")
          
          schedule[day] = stringified
        };

        // Enable form editing
        document.getElementById("editingFieldset").removeAttribute("disabled")
        // Fill the different fields with the current program's values
        document.getElementById("formName").setAttribute("value", programs[id].name)
        document.getElementById("formLength").setAttribute("value", programs[id].length)
        document.getElementById("formTopics").setAttribute("value", programs[id].topics)
        document.getElementById("formPresenters").setAttribute("value", programs[id].presenters)
        document.getElementById("formAuthor").setAttribute("value", programs[id].author)
        document.getElementById("formDescriptionShort").setAttribute("value", programs[id].descriptionShort)
        document.getElementById("formDescriptionLong").setAttribute("value", programs[id].descriptionLong)

        // Make sure to leave the days that are blank, blank
        let days = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"]
        for (let day of days) {
          if (programs[id].schedule[day] == undefined)
            document.getElementById(`form${day}`).setAttribute("value", " ")
          else
            document.getElementById(`form${day}`).setAttribute("value", schedule[day])
        }
      }
      
    };
    
  </script>
{% endblock %}