{% extends "layout.html" %}

{% block main %}
  <!-- Toolbar -->
  <header>
    <div class="text-center" role="alert">
      <button class='btn btn-outline-dark btn-sm' onclick=toggleEditing()>Editar</button>
      <button class='btn btn-outline-dark btn-sm' onclick=showChanges()>Changes</button>
    </div>
  </header>

  <div>
    <div class="row mx-2 justify-content-center">
      <!-- Programs table -->
      {% include 'snippets/programsDisplay.html' %}
      <!-- Edit program container -->
      {% include 'snippets/editProgram.html' %}
    </div>
  </div>


  <script>
    let programs;
    let editing = false;

    // We're gonna store any changed values here so we know what to send
    // We declare it here so we can use it before the main function that cares for it
    let changes = {id: null, info: {}, schedule: {}}
  
    // TABLE CREATION
    // Get the programs and fill the table
    function getPrograms() {
      $.post("/programs", null, function(data) {   
        programs = data;
        
        for (const program of Object.keys(programs)) {
          // Check if the producer a link or not
          let producer = "";
          if (programs[program].author.includes("www."))
            producer = `<a href="http://${programs[program].author}" target="_blank">${programs[program].author}</a>`
          else producer = programs[program].author;
  
          // We create the row with the non-iterable information of the program
          document.querySelector("tbody").innerHTML +=
            "<tr onclick='editProgram(" + programs[program].programID + ")'>" + 
              "<th scope='row'>" + programs[program].programID + "</th>" +
              "<td>" + programs[program].streamID + "</td>" +
              "<td>" + programs[program].name + "</td>" +
              "<td>" + programs[program].length + "</td>" +
              "<td>" + programs[program].topics + "</td>" +
              "<td id=presenters" + program + "></td>" +
              "<td>" + producer + "</td>" +
              "<td id=synopsis" + program + ">" +
                `<button class='btn btn-outline-dark btn-sm' onclick=toggleDescriptions('synopsis${program}')>Ver</button>` +
              "</td>" +
              "<td id=description" + program + ">" +
                `<button class='btn btn-outline-dark btn-sm' onclick=toggleDescriptions('description${program}')>Ver</button>` +
              "</td>" +
              "<td id=monday" + program + "></td>" +
              "<td id=tuesday" + program + "></td>" +
              "<td id=wednesday" + program + "></td>" +
              "<td id=thursday" + program + "></td>" +
              "<td id=friday" + program + "></td>" +
              "<td id=saturday" + program + "></td>" +
              "<td id=sunday" + program + "></td>"
            + "</tr>"
  
          // We are gonna add the elements that are iterable or dependant on certain conditions
          // We add the presenters iterating over the list of them
          let presenters = "";
          for (const presenter of programs[program].presenters) {
            if (presenter === "Desconocido") presenters = ""
            else presenters += "<li>" + presenter + "</li>"
          };
          
          document.getElementById(`presenters${program}`).innerHTML =
            "<ul style='padding: 0'>" + presenters + "</ul>"
          
          // We add days on their corresponding columns
          for (const day of Object.keys(programs[program].schedule)) {
            let times = "";
            for (const time of programs[program].schedule[day]) times += "<li>" + time + "</li>"
            document.getElementById(`${day}${program}`).innerHTML =
              "<ul style='list-style-type: none; padding: 0'>" + times + "</ul>"
          }
        }
      });
    };
    getPrograms()
  
    // We use this function to show or hide the description of specific programs
    function toggleDescriptions(id) {
      // Extract the programID and the type (synopsis or description)
      let programID;
      let type;
      if (id.includes("synopsis")) {
        programID = id.replace("synopsis", "");
        type = "synopsis";
      } else if (id.includes("description")) {
        programID = id.replace("description", "");
        type = "description";
      };
  
      // We get the text of the button to see whether to show or hide the information
      let button = document.querySelector(`#${id} > button`).innerHTML
  
      // Depending on the button we show or hide
      if (button === "Ver") {
        document.getElementById(id).innerHTML =
          type === "synopsis"
            ? "<p>" + programs[programID].descriptionShort + "</p>" +
              `<button class='btn btn-outline-dark btn-sm' onclick=toggleDescriptions('${type}${programID}')>Ocultar</button>`
            : "<p>" + programs[programID].descriptionLong + "</p>" +
              `<button class='btn btn-outline-dark btn-sm' onclick=toggleDescriptions('${type}${programID}')>Ocultar</button>`
      } else if (button === "Ocultar") {
        document.getElementById(id).innerHTML =
        `<button class='btn btn-outline-dark btn-sm' onclick=toggleDescriptions('${type}${programID}')>Ver</button>`
      };
    };


    // PROGRAM EDITING
    // Hide or display the editing form
    function toggleEditing() {
      if (!editing) {
        // Make space for the form
        document.getElementById("tableContainer").classList.replace("col-sm-12", "col-sm-8")
        // Show the editing form
        document.getElementById("editingContainer").removeAttribute("hidden")
        editing = true
      } else {
        // Make the table occupy the whole container
        document.getElementById("tableContainer").classList.replace("col-sm-8", "col-sm-12")
        // Hide the editing form
        document.getElementById("editingContainer").setAttribute("hidden", "true")
        editing = false
      };
    };

    // Fills the editing form with the selected program's information
    function editProgram(id) {
      // Proceed if editing is enable
      if (editing) {
        // Resets the variables that store any changes so we don't send previous changes by mistake
        changes = {id: null, info: {}, schedule: {}}
        $("#editingForm").trigger("reset")

        // Makes the days in the schedule a ", " separated string. Otherwise you only get "," as separation
        let schedule = {}
        for (let day of Object.keys(programs[id].schedule)) {
          let stringified = ""
          let length = programs[id].schedule[day].length

          if (length === 0)
            stringified = undefined
          else if (length === 1)
            stringified = programs[id].schedule[day][0]
          else
            stringified = programs[id].schedule[day].reduce((string, time, i) => {
              if (i === 0) return time
              else return string += `, ${time}`
            }, "")
          
          schedule[day] = stringified
        };

        // Enable form editing
        document.getElementById("editingFieldset").removeAttribute("disabled")
        // Fill the different fields with the current program's values
        document.getElementById("formName").setAttribute("value", programs[id].name)
        document.getElementById("formLength").setAttribute("value", programs[id].length)
        document.getElementById("formTopics").setAttribute("value", programs[id].topics)
        document.getElementById("formPresenters").setAttribute("value", programs[id].presenters)
        document.getElementById("formAuthor").setAttribute("value", programs[id].author)
        document.getElementById("formDescriptionShort").setAttribute("value", programs[id].descriptionShort)
        document.getElementById("formDescriptionLong").setAttribute("value", programs[id].descriptionLong)

        // Make sure to leave the days that are blank, blank
        let days = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"]
        for (let day of days) {
          if (programs[id].schedule[day] == undefined)
            document.getElementById(`form${day}`).setAttribute("value", "")
          else
            document.getElementById(`form${day}`).setAttribute("value", schedule[day])
        };

        // Store the id in case we make a change
        changes.id = id;
      };
    };

    // Handle any changes
    $('#formName').keyup(function() {changes.info.name = $('#formName').val()});
    $('#formLength').on("change", function() {changes.info.length = $('#formLength').val()});
    $('#formTopics').keyup(function() {changes.info.topics = $('#formTopics').val()});
    $('#formPresenters').keyup(function() {changes.info.presenters = $('#formPresenters').val()});
    $('#formAuthor').keyup(function() {changes.info.author = $('#formAuthor').val()});
    $('#formDescriptionShort').keyup(function() {changes.info.descriptionShort = $('#formDescriptionShort').val()});
    $('#formDescriptionLong').keyup(function() {changes.info.descriptionLong = $('#formDescriptionLong').val()});
    $('#formmonday').keyup(function() {changes.schedule.monday = $('#formmonday').val()});
    $('#formtuesday').keyup(function() {changes.schedule.tuesday = $('#formtuesday').val()});
    $('#formwednesday').keyup(function() {changes.schedule.wednesday = $('#formwednesday').val()});
    $('#formthursday').keyup(function() {changes.schedule.thursday = $('#formthursday').val()});
    $('#formfriday').keyup(function() {changes.schedule.friday = $('#formfriday').val()});
    $('#formsaturday').keyup(function() {changes.schedule.saturday = $('#formsaturday').val()});
    $('#formsunday').keyup(function() {changes.schedule.sunday = $('#formsunday').val()});

    // Handles submitting of changed information
    $("#editingForm").submit(function(event) {
      event.preventDefault()
      // Converts the changes into a serialized string so we can send them and properly
      let serialized = JSON.stringify(changes)
      // Sends the changes to the server
      $.post("/editProgram", {data: serialized}, function(data) {
        if (data !== "Éxito") {
          $("#messages").html(
            '<div class="alert alert-danger" >' +
              '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
              '<span>' + data + '</span>' +
            '</div>'
          );
        } else {
          $("#messages").html(
            '<div class="alert alert-success" >' +
              '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
              '<span>' + data + '</span>' +
            '</div>'
          );
          // On success, reload the page after 2 seconds
          setTimeout(function() { location.reload() }, 2000)
        };
      });
    });

    // Handles form reset
    $("#editingForm").on("reset", function(event) {changes = {id: null, info: {}, schedule: {}}})

    // Dev function to display what changes are stored
    function showChanges() { console.log(changes) }
    
  </script>
{% endblock %}