{% extends "layout.html" %}

{% block main %}
  <div class="row justify-content-center border-top mx-1 pt-4">
    <!-- Programs (IDs) table -->
    <div class="col-sm-6">
      <table id="programsTable" class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Programa</th>
            <th scope="col">Tokens</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  
    <!-- Tokens (users) table -->
    <div class="col-sm-6">
      <table id="tokensTable" class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Token</th>
            <th scope="col">Programas</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

  <script>
    let programs, notifications;

    function getNotifications() {
      $.post("/notifications", null, function(data) {
        ({programs, notifications} = data);
        buildPrograms();
        buildTokens();
      });
    }
    getNotifications()

    // Builds the programs table
    function buildPrograms() {
      let target = "ID";
      for (const ID of Object.keys(notifications.IDs)) {
        let tokens = notifications.IDs[ID].reduce((tot, token) => tot += `${token}<br/>`, "")

        $("#programsTable > tbody").append(
          "<tr>" +
            "<td class='align-middle'>" + programs[ID].name + "</td>" +
            "<td class='align-middle text-success'>" + notifications.IDs[ID].length + "</td>" +
            "<td class='align-middle px-0'>" +
              `<button id="ID${ID}Toggle" class="btn" onclick="toggleMore('${ID}', '${target}')">&#9660</button>` +
            "</td>" +
          "</tr>" +
          "<tr id='ID"+ID+"Tokens' style='display: None'>" +
            "<td class='align-middle' colspan='3'>" + tokens + "</td>" +
          "</tr>"
        );
      }
    }

    // Builds the tokens table
    function buildTokens() {
      let target = "token"
      for (const token of Object.keys(notifications.tokens)) {
        let programNames = notifications.tokens[token].reduce((tot, id) => tot += `${programs[id].name}<br/>`, "")

        $("#tokensTable > tbody").append(
          "<tr>" +
            "<td class='align-middle'>" + token + "</td>" +
            "<td class='align-middle text-primary'>" + notifications.tokens[token].length + "</td>" +
            "<td class='align-middle px-0'>" +
              `<button id="token${token}Toggle" class="btn" onclick="toggleMore('${token}', '${target}')">&#9660</button>` +
            "</td>" +
          "</tr>" +
          "<tr id='token"+token+"Tokens' style='display: None'>" +
            "<td class='align-middle' colspan='3'>" + programNames + "</td>" +
          "</tr>"
        );
      }
    }

    // Toggles the extra information for the element (programs or tokens)
    function toggleMore(ID, target) {
      $(`#${target}${ID}Tokens`).toggle();
      let toggle = $(`#${target}${ID}Toggle`).text();
      if (toggle === "\u25B2") $(`#${target}${ID}Toggle`).text("\u25BC");
      else if (toggle === "\u25BC") $(`#${target}${ID}Toggle`).text("\u25B2");
    }
  </script>
{% endblock %}