{% extends "layout.html" %}

{% block main %}
  <!-- Toolbar -->
  <header>
    <div class="btn-toolbar border-top mx-4 py-3" role="toolbar" aria-label="Modify schedule toolbar">
      <!-- Filter columns -->
      <div class="btn-group mr-auto align-items-center" role="group" aria-label="Filter buttons">
        <span class="mr-3">Ver</span>
        {% include 'snippets/toggleScheduleColumns.html' %}
      </div>
    </div>
  </header>

  <div class="col-sm-12 table-responsive table-cont" id="scheduleContainer">
    <table class="table table-striped table-hover">
      <!-- <caption>List of users</caption> -->
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th class="colSchMonday" scope="col">Lunes</th>
          <th class="colSchMonday colSchDur" scope="col">Dur</th>
          <th class="colSchTuesday" scope="col">Martes</th>
          <th class="colSchTuesday colSchDur" scope="col">Dur</th>
          <th class="colSchWednesday" scope="col">Miércoles</th>
          <th class="colSchWednesday colSchDur" scope="col">Dur</th>
          <th class="colSchThursday" scope="col">Jueves</th>
          <th class="colSchThursday colSchDur" scope="col">Dur</th>
          <th class="colSchFriday" scope="col">Viernes</th>
          <th class="colSchFriday colSchDur" scope="col">Dur</th>
          <th class="colSchSaturday" scope="col">Sábado</th>
          <th class="colSchSaturday colSchDur" scope="col">Dur</th>
          <th class="colSchSunday" scope="col">Domingo</th>
          <th class="colSchSunday colSchDur" scope="col">Dur</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <script>
    let schedule, times, programsInfo;

    function getSchedule() {
      $.post("/schedule", null, function(data) {
        ({ schedule, times, programsInfo } = data) ;
        buildScheduleTable()
      });
    }

    function buildScheduleTable() {
      // We precreate the HTML for each row with the id which we're gonna use to access the right one and fill
      for (const time of Object.keys(times)) {    
        $("tbody").append(
          "<tr>" +
            "<th scope='row'>" + times[time].readable + "</th>" +
            "<td class='colSchMonday' id=monday"+times[time].index+"></td>" +
            "<td class='colSchMonday colSchDur' id=monday"+times[time].index+"len></td>" +
            "<td class='colSchTuesday' id=tuesday"+times[time].index+"></td>" +
            "<td class='colSchTuesday colSchDur' id=tuesday"+times[time].index+"len></td>" +
            "<td class='colSchWednesday' id=wednesday"+times[time].index+"></td>" +
            "<td class='colSchWednesday colSchDur' id=wednesday"+times[time].index+"len></td>" +
            "<td class='colSchThursday' id=thursday"+times[time].index+"></td>" +
            "<td class='colSchThursday colSchDur' id=thursday"+times[time].index+"len></td>" +
            "<td class='colSchFriday' id=friday"+times[time].index+"></td>" +
            "<td class='colSchFriday colSchDur' id=friday"+times[time].index+"len></td>" +
            "<td class='colSchSaturday' id=saturday"+times[time].index+"></td>" +
            "<td class='colSchSaturday colSchDur' id=saturday"+times[time].index+"len></td>" +
            "<td class='colSchSunday' id=sunday"+times[time].index+"></td>" +
            "<td class='colSchSunday colSchDur' id=sunday"+times[time].index+"len></td>" +
          "</tr>"
        );
      }

      // We iterate through the schedule and fill the days with the right information
      for (const day of Object.keys(schedule)) {
        for (const time of Object.keys(schedule[day])) {
          $(`#${day}${time}`).html(programsInfo[schedule[day][time]].name);
          $(`#${day}${time}len`).html(programsInfo[schedule[day][time]].length);
        }
      }
    }
    getSchedule();
  </script>
{% endblock %}